# temp GPS files weirdness
**/**/.#*.*#

# ignore dirs
**/exe/**
**/obj/**
**/.idea/**

# obsolete arborescence
**/gdb_python_pretty_printer/**
**/gdb_script/**
#gdb_python_pretty_printer/.idea/

# some stuff that sits at home
**/**/proto.py
assets/captures/
**/**/prout.py

tests/offsets_finder/before_run.txt

tests/offsets_finder/types.txt
.github/workflows/show_env.yml
.github/workflows/gdb_versions_extractor.py

.github/workflows/gdb-8.0.1.tar.gz

.github/workflows/download_gdb_sources.yml.bak
